@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

main {
    --fs-s: 1.5rem;
    --fs-xs: 2rem;
    --fs-xl: 4rem;
}

section>h2 {
    margin: 0 0 1em 0;
    padding: 1em 0 0 0;

    text-align: center;
    font-family: 'Open Sans';
    font-size: 2rem;
}

section>p {
    margin: 1.25em;

    font-size: 1.25rem;
}

section>p:last-child {
    padding-bottom: 1em;
    margin-bottom: 0;
}

section>p.description {
    margin-top: -1rem;

    text-align: center;
}

#hero {
    position: relative;
}

#hero>.image {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 100%;

    margin-top: 1rem;

    overflow: hidden;
}

#hero>.image>img {
    display: flex;

    width: 105vw;
    max-width: 45rem;
}

#hero>.text>.introduction-container {
    width: 100%;

    padding-block: 0.25em 0.5em;
    margin-top: -1em;

    position: relative;

    color: #ffffff;
    background-color: #050505;

    font-size: min(9vw, 3.25rem);

    transform: skewY(-5deg);
}

#hero>.text>.introduction-container>.introduction {
    display: flex;
    flex-direction: column;

    width: fit-content;

    margin: auto;

    text-transform: uppercase;
    font-family: Oswald;
}

#hero>.text>.introduction-container>.introduction>h1 {
    margin: 0;

    line-height: 1em;
    font-size: 2em;
}

#hero>.text>.introduction-container>.introduction>p {
    margin: 0;

    font-size: 0.75em;
    font-weight: 100;
}

#hero>.text>.introduction-container>.introduction>a {
    width: fit-content;

    padding: 0.25em 0.5em;
    margin-inline: auto;
    margin-top: 0.25em;

    color: #050505;
    background-color: #ffffff;

    border-radius: 0.25em;

    text-decoration: none;
    font-size: 0.75em;
}

#hero>.text>.introduction-container>.snippet {
    position: absolute;
}

#hero>.text>.introduction-container>.snippet[src="js.svg"] {
    width: 2em;
    top: calc(50% - 2.5em);
    right: calc(50% - 4.5em);

    transform: rotateZ(30deg);
}

#hero>.text>.introduction-container>.snippet[src="html5.svg"] {
    width: 1.4em;
    top: calc(50% - 2.75em);
    left: calc(50% - 4.8em);

    transform: rotateZ(-10deg);
}

#hero>.text>.introduction-container>.snippet[src="chess-king.svg"] {
    width: 2.5em;
    bottom: calc(50% - 2.5em);
    right: calc(50% - 5em);

    transform: rotateZ(-30deg);
}

#hero>.text>.introduction-container>.snippet[src="react.svg"] {
    width: 2.1em;
    bottom: calc(50% - 1.5em);
    left: calc(50% - 5.25em);
}

#hero>.text>.introduction-container>.snippet[src="css3.svg"] {
    width: 1.7em;
    bottom: 1em;
    left: calc(50% - 4.25em);

    transform: rotateZ(-30deg);
}

#hero>.text>.introduction-container>.snippet[src="jquery.svg"] {
    width: 1.25em;
    top: calc(50% - 4em);
    right: calc(50% - 5em);
}

#hero>.menu {
    position: absolute;
}

#certificates {
    padding: 0.5px;
    /* equal to zero, padding disables marging collapse */

    color: #fff;
    background-color: #0069d1;
}

#certificates>.certificate-links {
    column-width: 20rem;

    margin: 1rem;
}

#certificates>.certificate-links>a.certificate {
    display: block;
    break-inside: avoid;

    box-sizing: border-box;

    /* width: 80%; */

    padding: 1rem;
    margin-bottom: 1rem;

    color: #000;
    background-color: #fff;

    border-radius: 0.5rem;

    text-decoration: none;

    transition: 0.25s;
}

#certificates>.certificate-links>a.certificate>h3 {
    margin: 0 0 0;

    font-size: 1.5rem;
}

#certificates>.certificate-links>a.certificate>p {
    margin: 1rem 0 0 0;

    font-size: 1.25rem;
}

#certificates>.certificate-links>a.certificate:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
}

#copyright {
    text-align: center;
}